


// colors

$white: white;

$stroke-default: #1698D9;
$stroke-disabled: #B3B3B3;
$stroke-hover: #2EA8E6;
$stroke-selected: #D91667;
$stroke-selected-hover: #E52E7A;
$alert: #FFFF66;

$before-message-grey: #666666;

@charset "UTF-8"; 
@font-face {
	font-family: 'exo-2-thin';
	src: url('../fonts/exo-2-v4-latin_cyrillic-100.woff') format('woff2'), url('../fonts/exo-2-v4-latin_cyrillic-100.woff2') format('woff2');
}

body {
	font-family: 'Trebuchet MS', 'exo-2-thin', sans-serif;
	margin: 0;
}
span.feed-cat-today {
	color: $white;
	font-family: 'exo-2-thin';
	text-align: center;
	font-size: 36px;
	display: block;
	padding-top: 20px;
}
section {
	min-width: 400px;
	position: relative;
	min-height: 100vh;
}
.elements-wrapper {
	align-self: center;
	margin: auto;
}

.catsfood {
	background: url('../img/bg.jpg');
	background-size: 1920px;
	position: relative;
	display: flex;
}
.cards-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	input {
		position: absolute;
		left: -9999px;
	}
	svg {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
		path#outline {
			transition: fill .1s ease-in-out;
		}
	}
	.product-weight {
		transition: background-color .1s ease-in-out;
	}
	.card-contents {
		z-index: 1;
		position: relative;
		padding: 22px 48px 0 48px;
		h1.product-title {
			font-size: 48px;
			margin: 6px 0 0;
		}
		h2.product-contents {
			font-size: 24px;
			margin: 0;
		}
		ul.present {
			font-size: 14px;
			list-style: none;
			padding: 0;
			color: $before-message-grey;
		}
		&:before {
			content: 'Сказочное заморское яство';
			color: $before-message-grey;
		}
	}
	input:hover + label {
		svg {
			path#outline {
				fill: $stroke-hover;
			}
		}
		span.product-aftermath {
			a {
				color: $stroke-hover;
			}
		}
		.product-weight {
			background: $stroke-hover;
		}
	}
	input:checked + label {
		svg {
			path#outline {
				fill: $stroke-selected;
			}
		}
		.product-weight {
			background: $stroke-selected;
		}
		.product-aftermath {
			display: none;
		}
	}
	input:checked:hover + label {
		.card-contents:before {
			content: 'Котэ не одобряет?';
			color: $stroke-selected-hover;
		}
		.product-aftermath {
			display: none;
		}
		.product-aftermath-selected {
			font-size: 13px;
			display: block;
			position: absolute;
	    	bottom: -30px;
		    color: white;
		    text-align: center;
		    width: 100%;
		}
		svg {
			path#outline {
				fill: $stroke-selected-hover;
			}
		}
		.product-weight {
			background: $stroke-selected-hover;
		}
	}
	input:disabled + label {
		.card-contents {
			color: $stroke-disabled;
			&:before {
				color: $stroke-disabled;
			}
			ul.present {
				color: $stroke-disabled;
			}
		}
		svg {
			path#outline {
				fill: $stroke-disabled;
			}
		}
		.product-weight {
			background-color: $stroke-disabled;
		}
		.card-img {
			opacity: 0.5;
		}
		span.product-aftermath {
			display: none;
		}
		span.out-of-stock {
			display: block;
		}
	}
	label.card {
		margin: 40px;
		width: 320px;
		height: 480px;
		position: relative;
		display: block;
		cursor: pointer;
		user-select: none;
		.product-weight {
			text-align: center;
			color: $white;
			background: $stroke-default;
			border-radius: 50%;
			width: 80px;
			height: 80px;
			display: block;
			position: absolute;
			bottom: 20px;
		    right: 20px;
			z-index: 2;
			:first-child {
				font-size: 42px;
				line-height: 1.4;
			}
			:last-child {
				font-size: 20px;
				line-height: 0.2;
			}
		}
		span.product-aftermath {
			font-size: 13px;
			position: absolute;
	    	bottom: -30px;
		    color: white;
		    text-align: center;
		    width: 100%;
		    a {
		    	color: $stroke-default;
		    	text-decoration-style: dashed;
		    }  
		}
		span.out-of-stock {
			font-size: 13px;
			position: absolute;
	    	bottom: -30px;
		    color: white;
		    text-align: center;
		    width: 100%;
			color: $alert;
			display: none;
		}
	}
	.card-img {
		border-bottom-left-radius: 8px;
		position: absolute;
		z-index: 1;
		width: 262px;
		height: 287px;
		bottom: 4px;
		left: 4px;
		background-position: -37px 22px;
		background-repeat: no-repeat;
		background-size: 373px;
		background-image: url('../img/cat.png');
	}
}


@media only screen and (max-width: 1010px) {
    

}

